<!DOCTYPE html><html lang="fr" dir="ltr"><head>
  <meta charset="utf-8">
  <title>Datasive</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->

  <style>
    .before_load {
      background: white;
      top: 0;
      bottom: 0;
      z-index: 122344234234;
      position: fixed;
      left: 0;
      right: 0;
    }
  </style>
<style>body{background-image:url(/assets/img/background.png);background-repeat:no-repeat;background-size:cover;height:100vh;width:100vh;overflow:hidden;font-family:system-ui}</style><link rel="stylesheet" href="./assets/src/fr/styles.8382c0cebb1afbff.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="./assets/src/fr/styles.8382c0cebb1afbff.css"></noscript></head>
<body>
  <app-root>
    <div class="before_load">
      <img src="assets/img/logo.svg" class="logo" alt="logo">
    </div>
  </app-root>
<script src="./assets/src/fr/runtime.7ae29a296d479790.js" type="module"></script><script src="./assets/src/fr/polyfills.4709fd955acb2242.js" type="module"></script><script src="./assets/src/fr/main.a1e56711fc2f35e0.js" type="module"></script>

</body></html>